@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: #f4f4f8;
  position: relative;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.toggle-switch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-switch::before {
  content: url("../images/desktop/icon-sun.svg");
  margin-right: 0.5rem;
}

.toggle-switch::after {
  content: url("../images/desktop/icon-moon.svg");
  margin-left: 0.5rem;
}

.toggle-switch__checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.toggle-switch__checkbox:checked + span::before {
  left: 0;
}

.toggle-switch__span {
  position: relative;
  width: 50px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 100px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.toggle-switch__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #5964e0;
}

.toggle-switch__checked {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-switch__checked::before {
  content: url("../images/desktop/icon-sun.svg");
  margin-right: 0.5rem;
}

.toggle-switch__checked::after {
  content: url("../images/desktop/icon-moon.svg");
  margin-left: 0.5rem;
}

.toggle-switch__checked--checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.toggle-switch__checked span::before {
  left: 50%;
}

.form {
  padding: 0 15rem;
  position: absolute;
  width: 100%;
  top: 98px;
}

.form-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  overflow: hidden;
  border-radius: 4px;
}

.description,
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.description img,
.location img {
  margin-right: 1.5rem;
}

.description input,
.location input {
  width: 100%;
  border: none;
  outline: none;
}

.description input:focus,
.location input:focus {
  border: none;
  outline: none;
}

.description::after,
.location::after {
  content: "";
  width: 1px;
  height: 65px;
  position: absolute;
  right: 0;
  top: -18px;
  margin-right: 1.5rem;
  background: #f4f4f8;
  display: inline-block;
}

.description {
  width: 45%;
}

.location {
  width: 35%;
}

.jobtype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.jobtype input {
  margin-right: 2rem;
}

.jobtype label {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-right: 2.5rem;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1rem 3rem;
  border-radius: 4px;
}

.button-1 {
  background: #5964e0;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.button-1:hover {
  background: #939bf4;
}

.button-2 {
  background: #f4f4f8;
  color: #5964e0;
  text-transform: capitalize;
  text-decoration: none;
}

.button-2:hover {
  background: rgba(147, 155, 244, 0.3);
}

.card {
  width: 32%;
  background: #ffffff;
  display: block;
  padding: 6rem 2rem 3rem 2rem;
  margin-bottom: 7rem;
  border-radius: 4px;
  position: relative;
}

.card-image {
  width: 15%;
  position: absolute;
  top: -25px;
  left: 25px;
  border-radius: 16px;
  height: 50px;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  position: relative;
  text-decoration: none;
}

.card-content__items {
  color: #6e8098;
}

.card-content__items--jobAge {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card-content__items--jobAge span::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6e8098;
  display: inline-block;
  margin: 0 1rem;
}

.card-content__items--jobTitle {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #121721;
}

.card-content__items--firm {
  margin-bottom: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.card-content__items--location {
  font-size: 1.5rem;
  color: #5964e0;
}

.network-error {
  text-align: center;
  background: orangered;
  width: 40%;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  border-radius: 4px;
}

.network-error__title {
  font-size: 3rem;
  color: #ffffff;
}

.cardDetails {
  position: relative;
}

.cardDetails-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem 0 0;
  margin: 0 auto;
  border-radius: 4px;
  background: #ffffff;
  position: absolute;
  top: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 60%;
}

.cardDetails-heading__image {
  width: 100px;
  height: 100px;
  margin-right: 1.5rem;
}

.cardDetails-heading__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cardDetails-heading__name {
  margin-right: auto;
  width: 65%;
}

.cardDetails-heading__name h2 {
  color: #19202d;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.cardDetails-heading__name p {
  color: #6e8098;
  text-decoration: none;
}

.cardDetailsBody {
  width: 60%;
  margin: 10rem auto 0 auto;
  padding: 3.5rem 5rem;
  border-radius: 4px;
  background: #ffffff;
}

.cardDetailsBody-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.cardDetailsBody__heading {
  margin-right: auto;
  width: 75%;
}

.cardDetailsBody__heading--jobAge {
  font-size: 1.5rem;
  color: #6e8098;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.cardDetailsBody__heading--jobAge span::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6e8098;
  display: inline-block;
  margin: 0 1rem;
}

.cardDetailsBody__heading--title {
  color: #121721;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.cardDetailsBody__heading--location {
  color: #5964e0;
  font-weight: 600;
  font-size: 1.3rem;
}

.cardDetailsBody-description {
  font-family: "Kumbh Sans", sans-serif;
}

.cardDetailsBody-description div {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description .h3 {
  font-weight: 700;
  color: #121721;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.cardDetailsBody-description p > strong {
  font-weight: 700;
  color: #121721;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.cardDetailsBody-description h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  color: #121721;
}

.cardDetailsBody-description p:nth-child(1) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description p:nth-child(2) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description p:nth-child(3) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description p:nth-child(4) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description p:nth-child(5) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-description p:nth-child(6) {
  font-size: 1.5rem;
  color: #6e8098;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

.cardDetailsBody-description p:nth-child(6)::before {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  color: #121721;
}

.cardDetailsBody-description p:nth-child(7) {
  font-size: 1.5rem;
  color: #121721;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cardDetailsBody-description p:nth-child(8),
.cardDetailsBody-description p:nth-child(9),
.cardDetailsBody-description p:nth-child(10),
.cardDetailsBody-description p:nth-child(11),
.cardDetailsBody-description p:nth-child(12),
.cardDetailsBody-description p:nth-child(13),
.cardDetailsBody-description p:nth-child(14),
.cardDetailsBody-description p:nth-child(15) {
  font-size: 1.3rem;
  color: #121721;
  text-transform: capitalize;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.cardDetailsBody-description p:nth-child(16),
.cardDetailsBody-description p:nth-child(17),
.cardDetailsBody-description p:nth-child(18),
.cardDetailsBody-description p:nth-child(19),
.cardDetailsBody-description p:nth-child(20),
.cardDetailsBody-description p:nth-child(21),
.cardDetailsBody-description p:nth-child(22),
.cardDetailsBody-description p:nth-child(23),
.cardDetailsBody-description p:nth-child(24),
.cardDetailsBody-description p:nth-child(25) {
  font-size: 1.2rem;
  color: #6e8098;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
}

.cardDetailsBody-description p:nth-child(26),
.cardDetailsBody-description p:nth-child(27) {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #121721;
}

.cardDetailsBody-description ul {
  list-style: none;
}

.cardDetailsBody-description ul li {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #6e8098;
}

.cardDetailsBody-description ul li::before {
  content: "\2022";
  color: #5964e0;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-right: 1.5rem;
}

.cardDetailsBody-apply__wrapper {
  width: 60%;
  margin: 0 auto;
  background-image: url("../images/desktop/bg-pattern-detail-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  border-radius: 6px;
  color: #ffffff;
}

.cardDetailsBody-apply__wrapper--heading {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.cardDetailsBody-apply__wrapper--content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.cardDetailsBody-apply__wrapper--content a {
  color: #ffffff;
}

.cardDetailsBody-footer {
  background: #ffffff;
  padding: 1.8rem 0;
}

.cardDetailsBody-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
}

.cardDetailsBody-footer__wrapper--title {
  margin-right: auto;
  width: 70%;
}

.cardDetailsBody-footer__wrapper--title h3 {
  font-size: 1.8rem;
  color: #121721;
  margin-bottom: 1rem;
}

.header {
  background-image: url("../images/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  border-bottom-left-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3rem 15rem 8rem 15rem;
}

.header-title {
  margin-right: auto;
}

.header-title a {
  font-size: 2.5rem;
  color: #ffffff;
  text-decoration: none;
}

.main-container {
  padding: 15rem 15rem 5rem 15rem;
  text-align: center;
}

.main-container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.main-container__cards--jobLoaded {
  font-size: 2rem;
  color: #121721;
  background: #939bf4;
  width: 30%;
  margin: 0 auto;
  padding: 2rem 0;
  border-radius: 4px;
}

.main-container button {
  margin: 0 auto;
}

.main-container__loading {
  margin: 0 auto;
}

.noJobs,
.no-listing {
  font-size: 2.5rem;
  color: #121721;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}
/*# sourceMappingURL=main.css.map */