// PRIMARY COLORS
$p-violet: #5964e0;
$p-light-violet: #939bf4;
$p-very-dark-blue: #19202d;
$p-midnight: #121721;

//SECONDARY COLORS
$s-white: #ffffff;
$s-light-grey: #f4f4f8;
$s-grey: #9daec2;
$s-dark-grey: #6e8098;
