.button {
	border: none;
	cursor: pointer;

	font-size: 1.7rem;
	transition: all 0.3s;

	padding: 1rem 3rem;
	border-radius: 4px;

	&-1 {
		background: $p-violet;
		color: $s-white;
		text-transform: capitalize;
		text-decoration: none;

		&:hover {
			background: $p-light-violet;
		}
	}

	&-2 {
		background: $s-light-grey;
		color: $p-violet;
		text-transform: capitalize;
		text-decoration: none;

		&:hover {
			background: rgba($p-light-violet, 0.3);
		}
	}

	&-3 {
		padding: 0;
		background: $p-violet;
		padding: 1rem 1.5rem;
		margin-left: 2.5rem;

		@include responsive_mode(tablet-portrait) {
			display: none;
		}
	}
}
