.form {
	padding: 0 2rem;
	position: absolute;
	width: 100%;
	top: 98px;

	&-contents {
		display: flex;
		padding: 1rem 1.5rem 1rem 2rem;
		align-items: center;
		background: $s-white;
		overflow: hidden;
		border-radius: 4px;
	}

	@include responsive_mode(tablet-portrait) {
		padding: 0 3rem;
	}

	@include responsive_mode(tablet) {
		padding: 0 4rem;
	}

	@include responsive_mode(desktop) {
		padding: 0 15rem;
	}
}

.description,
.location {
	display: flex;
	position: relative;

	& img {
		margin-right: 0;
	}

	& input {
		width: 100%;
		border: none;
		outline: none;

		&:focus {
			border: none;
			outline: none;
		}
	}

	@include responsive_mode(tablet-portrait) {
		& img {
			margin-right: 1.5rem;
		}

		&::after {
			content: "";
			width: 1px;
			height: 65px;
			position: absolute;
			right: 0;
			top: -18px;
			margin-right: 1.5rem;
			background: $s-light-grey;
			display: inline-block;
		}
	}
}

.description {
	width: 100%;

	&__image {
		&--searchIcon {
			display: none;
		}

		&--filterIcon {
			object-fit: contain;
			margin-left: 1rem;
		}
	}
}

.location {
	width: 35%;
	display: none;
}

.jobtype {
	display: none;

	& input {
		margin-right: 2rem;
	}

	& label {
		font-size: 1.5rem;
		text-transform: capitalize;
		font-weight: 600;
		margin-right: 2.5rem;
	}
}

@include responsive_mode(tablet-portrait) {
	.description {
		width: 30%;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		display: flex;
		align-items: center;
		width: 40%;

		& label {
			margin-right: auto;
		}

		& button {
			padding: 1rem;
		}
	}
}

@include responsive_mode(tablet) {
	.description {
		width: 45%;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		width: 25%;

		& label {
			margin-right: 2.5rem;
		}
	}
}

@include responsive_mode(desktop) {
	.description {
		width: 45%;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		& button {
			padding: 1rem 3rem;
		}
	}
}

.scrolled {
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 0;
	top: 0;
	left: 0;

	& form {
		width: 100%;
		box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
	}

	& label {
		margin-right: auto;
	}
}
