.form {
	padding: 0 2rem;
	position: absolute;
	width: 100%;
	top: 98px;
	// left: 0;

	&-contents {
		display: flex;
		padding: 1rem 1.5rem 1rem 2rem;
		align-items: center;
		background: $s-white;
		overflow: hidden;
		border-radius: 4px;
	}

	@include responsive_mode(tablet-portrait) {
		padding: 0 3rem;
		// position: absolute;
		// width: 100%;
		// top: 98px;
		// left: 0;

		&-contents {
			display: flex;
			padding: 1rem 1.5rem 1rem 2rem;
			align-items: center;
			background: $s-white;
			overflow: hidden;
			border-radius: 4px;
		}
	}

	@include responsive_mode(tablet) {
		padding: 0 4rem;
		// position: absolute;
		// width: 100%;
		// top: 98px;
		// left: 0;

		&-contents {
			display: flex;
			padding: 1rem 1.5rem 1rem 2rem;
			align-items: center;
			background: $s-white;
			overflow: hidden;
			border-radius: 4px;
		}
	}

	@include responsive_mode(desktop) {
		padding: 0 15rem;
		// position: absolute;
		// width: 100%;
		// top: 98px;
		// left: 0;

		&-contents {
			display: flex;
			padding: 1rem 1.5rem 1rem 2rem;
			align-items: center;
			background: $s-white;
			overflow: hidden;
			border-radius: 4px;
		}
	}
}

.description,
.location {
	display: flex;
	position: relative;

	& img {
		margin-right: 0;
	}

	& input {
		width: 100%;
		border: none;
		outline: none;

		&:focus {
			border: none;
			outline: none;
		}
	}

	@include responsive_mode(tablet-portrait) {
		// display: flex;
		// position: relative;

		& img {
			margin-right: 1.5rem;
			// display: block;
		}

		// & input {
		// 	width: 100%;
		// 	border: none;
		// 	outline: none;

		// 	&:focus {
		// 		border: none;
		// 		outline: none;
		// 	}
		// }
		&::after {
			content: "";
			width: 1px;
			height: 65px;
			position: absolute;
			right: 0;
			top: -18px;
			margin-right: 1.5rem;
			background: $s-light-grey;
			display: inline-block;
		}
	}
}

.description {
	width: 100%;

	// & input {
	// margin-right: auto;
	// }

	&__image {
		&--searchIcon {
			display: none;
		}

		&--filterIcon {
			object-fit: contain;
			margin-left: 1rem;
		}
	}
}

.location {
	width: 35%;
	display: none;
}

.jobtype {
	display: none;
	align-items: center;
	width: 25%;

	& input {
		margin-right: 2rem;
	}

	& label {
		font-size: 1.5rem;
		text-transform: capitalize;
		font-weight: 600;
		margin-right: 2.5rem;
	}
}

@include responsive_mode(tablet-portrait) {
	.description {
		width: 30%;
		// overflow: hidden;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		display: flex;
		align-items: center;
		width: 40%;

		& input {
			margin-right: 2rem;
		}

		& label {
			font-size: 1.5rem;
			text-transform: capitalize;
			font-weight: 600;
			margin-right: 2.5rem;
		}

		& button {
			padding: 1rem;
		}
	}
}

@include responsive_mode(tablet) {
	.description {
		width: 45%;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		display: flex;
		align-items: center;
		width: 25%;

		& input {
			margin-right: 2rem;
		}

		& label {
			font-size: 1.5rem;
			text-transform: capitalize;
			font-weight: 600;
			margin-right: 2.5rem;
		}
	}
}

@include responsive_mode(desktop) {
	.description {
		width: 45%;

		&__image {
			&--searchIcon {
				display: block;
			}

			&--filterIcon {
				display: none;
			}
		}
	}

	.location {
		width: 35%;
		display: flex;
	}

	.jobtype {
		display: flex;
		align-items: center;
		width: 25%;

		& input {
			margin-right: 2rem;
		}

		& label {
			font-size: 1.5rem;
			text-transform: capitalize;
			font-weight: 600;
			margin-right: 2.5rem;
		}

		& button {
			padding: 1rem 3rem;
		}
	}
}
