.main-container {
	padding: 10rem 2rem 5rem 2rem;
	text-align: center;

	&__cards {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		// flex-wrap: wrap;
		text-align: left;

		&--jobLoaded {
			font-size: 1.5rem;
			color: $p-midnight;
			background: $p-light-violet;
			width: 80%;
			margin: 0 auto;
			padding: 2rem 0;
			border-radius: 4px;
		}
	}

	& button {
		margin: 0 auto;
	}

	&__loading {
		margin: 0 auto;
	}

	@include responsive_mode(tablet-portrait) {
		padding: 10rem 3rem 5rem 3rem;
		text-align: center;

		&__cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: left;

			&--jobLoaded {
				font-size: 2rem;
				color: $p-midnight;
				background: $p-light-violet;
				width: 30%;
				margin: 0 auto;
				padding: 2rem 0;
				border-radius: 4px;
			}
		}
	}

	@include responsive_mode(tablet) {
		padding: 10rem 4rem 5rem 4rem;
		text-align: center;

		&__cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: left;

			&--jobLoaded {
				font-size: 2rem;
				color: $p-midnight;
				background: $p-light-violet;
				width: 30%;
				margin: 0 auto;
				padding: 2rem 0;
				border-radius: 4px;
			}
		}
	}

	@include responsive_mode(desktop) {
		padding: 15rem 15rem 5rem 15rem;
		text-align: center;

		&__cards {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: left;

			&--jobLoaded {
				font-size: 2rem;
				color: $p-midnight;
				background: $p-light-violet;
				width: 30%;
				margin: 0 auto;
				padding: 2rem 0;
				border-radius: 4px;
			}
		}
	}
}

.noJobs,
.no-listing {
	font-size: 2.5rem;
	color: $p-midnight;
	text-align: center;
	margin: 0 auto;
	text-transform: capitalize;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba($p-midnight, 0.5);
	display: block;
	z-index: 2;
	transition: all 0.3s ease-in;
}
